<!-- Footer Section -->
</div>
<footer class="main-footer">
    <div class="footer-copyright">
        &copy; 2024 YourBookNook. All rights reserved.
    </div>
    <div class="footer-icons">
         <a href="#" target="_blank"><img src="/images/facebook-icon.png" alt="Facebook"></a>
         <a href="#" target="_blank"><img src="/images/youtube-icon.png" alt="YouTube"></a>
         <a href="#" target="_blank"><img src="/images/instagram-icon.png" alt="Instagram"></a>
    </div>
</footer>

</body>

</html>