
<%- include('./partials/header.ejs') %>
    
    
            <main>
                <section class="introduction">
                    <h1>Welcome to YourBookNook!</h1>
                    <p>Your marketplace to buy and sell books.</p>
                    <div>
                        <a href="/items" class="start-browsing-button">Start Browsing</a>
                    </div>

                    <div class="content-container">
                        
                        <img src="/images/Bookshelf-Mural.jpg" alt="Description of the image">
                    </div>
                </section>
            </main>
    <%- include('./partials/footer.ejs') %>

 